<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p class="text-center">Wait wile we authorize the user</p>
            </Authorizing>
            <NotAuthorized>
                <BlogAppWasm.Pages.RedirectToLogin/>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert" class="text-center">Sorry, there's nothing at this address.</p>
            </LayoutView>
            <PageTitle>Not found</PageTitle>
        </CascadingAuthenticationState>
    </NotFound>
</Router>