@page "/create-post"

@using System.Net.Http.Headers
@inject IPostService PostService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>New Post</PageTitle>

<h1 class="text-center">New Post</h1>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-7">
                <h4 class="card-title text-dark">Add a New Post!</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <EditForm Model="AddPost" OnValidSubmit="@(() => OnCreatePost())">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="container">
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label>Title:</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="AddPost.Title" class="form-control" placeholder="Enter the title"/>
                            <ValidationMessage For="() => AddPost.Title"/>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label>Description:</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="AddPost.Description" class="form-control"
                                       placeholder="Enter the post description"/>
                            <ValidationMessage For="() => AddPost.Description"/>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label>Tags:</label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="AddPost.Tags" class="form-control"
                                       placeholder="Enter some tags separated by commas"/>
                            <ValidationMessage For="() => AddPost.Tags"/>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <h4>Post Image</h4>
                            <InputFile OnChange="@OnUploadFile"></InputFile>
                            <br/>
                            @if (PostImage != null)
                            {
                                <div>
                                    <img src="@PostImage" style="width:300px;" alt="PostImage"/>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-floppy2-fill"></i>&nbsp;Save
                            </button>
                        </div>
                        <div class="col-6">
                            <NavLink href="/posts" class="btn btn-secondary">
                                <i class="bi bi-arrow-left-circle-fill"></i>&nbsp;Go Back
                            </NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
    <div class="card-footer">

    </div>
</div>

@code {
    private Post AddPost { get; set; } = new();
    [Parameter] public string PostImage { get; set; }
    [Parameter] public EventCallback<string> OnChange { get; set; }

    private async void OnCreatePost()
    {
        AddPost.PathImage = PostImage;
        await PostService.CreatePost(AddPost);
        await JsRuntime.ToastrSuccess("Post Created!");
        NavigationManager.NavigateTo("/posts");
    }

    private async Task OnUploadFile(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;
        if (imageFile != null)
        {
            var resizedFile = await imageFile.RequestImageFileAsync("image/png", 1000, 700);
            using (var ms = resizedFile.OpenReadStream(resizedFile.Size))
            {
                var content = new MultipartFormDataContent();
                content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");
                content.Add(new StreamContent(ms, Convert.ToInt32(resizedFile.Size)), "image", imageFile.Name);
                PostImage = await PostService.UploadImage(content);
                await OnChange.InvokeAsync(PostImage);
            }
        }
    }

}